Repository flpvsk/log-into-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Test lint-staged
  index.html
  src/pages/ForgotPassword/index.tsx
Due: prettier --write, eslint

Updates
  assets/index-C6ZjoaGu.js
  assets/index-kNQCFzkS.js
  index.html
Due: prettier --write, eslint

Fix typo
  src/pages/ForgotPassword/index.tsx
Due: prettier --write, eslint

Updates
  assets/index-TpV6kziO.js
  assets/index-kNQCFzkS.js
  index.html
Due: prettier --write, eslint

Update README
  .lintstagedrc.json
  README.md
  TODO.md
  public/err-dialog.png
Due: prettier --write

Fix typo
  README.md
Due: none

Fix: preact is also a prod dependency
  TODO.md
Due: none

Add live url
  README.md
Due: none

Humanize password error msg
  src/hooks/useLogIn.ts
Due: prettier --write, eslint

Updates
  assets/index-O6AhlJj-.js
  assets/index-TpV6kziO.js
  err-dialog.png
  index.html
Due: prettier --write, eslint

Fix: not a user name anymore
  src/pages/Login/index.tsx
Due: prettier --write, eslint

Updates
  assets/index-O6AhlJj-.js
  assets/index-e4p6n0Zf.js
  index.html
Due: prettier --write, eslint

Demo broken prerender
  vite.config.ts
Due: prettier --write, eslint

Fix preact pre-render
  src/hooks/useUserInfo.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: **/*.{js,ts,tsx}) or (any of: **/*.{json,html,css})
  eslint: any of: **/*.{js,ts,tsx}
